results/
.DS_Store
user.toml
.kitchen/
.kitchen.local.yml
.vscode
*.tfvars
.DS_Store
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars
#
*.tfvars
root_token

.kitchen/

# Maven
target/
